@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    color-scheme: light dark;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

html, body {
    height: 100%;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

#root, #__next {
    isolation: isolate;
}

.rm-sc::-webkit-scrollbar {
    -webkit-appearance: none; /*清除默认样式*/
    display: none;
}

.a_f::after { /* before and after */
    content: '';
    position: absolute;
    right: -.6rem;
    top: 0;
    height: 0;
    width: 0;
    border-style: solid;
    border-width: .5rem 0 .5rem .6rem;
    border-color: transparent transparent transparent #0074cc;
}

.t_t {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 8px 8px 0;
    border-color: transparent #0074cc transparent transparent;
}

.b_t {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 8px 8px;
    border-color: transparent transparent #0074cc transparent;
}

