@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    color-scheme: light dark;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

html, body {
    height: 100%;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

#root, #__next {
    isolation: isolate;
}

.rm-sc::-webkit-scrollbar, #markdown pre::-webkit-scrollbar {
    -webkit-appearance: none; /*清除默认样式*/
    display: none;
}

.a_f::after { /* before and after */
    content: '';
    position: absolute;
    right: -.625rem;
    top: 0;
    height: 1rem;
    width: .75rem;
    clip-path: polygon(0 0, 2px 0, 100% 50%, 2px 100%, 0 100%);
    background-color: #0074cc;
}

.t_t {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 8px 8px 0;
    border-color: transparent #0074cc transparent transparent;
}

.b_t {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 8px 8px;
    border-color: transparent transparent #0074cc transparent;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none; /*清除默认样式*/
    height: 1.25rem; /*设置滑块高度*/
    width: 0.625rem; /*设置滑块宽度*/
    background: #939492; /*设置背景色*/
    border-radius: 1rem; /*加个圆角边*/
    transform: translateX(-3px);
    position: relative;
    z-index: 99;
}


input[type=range]::-moz-range-thumb {
    -moz-appearance: none; /*清除默认样式*/
    height: 1.25rem; /*设置滑块高度*/
    width: 0.625rem; /*设置滑块宽度*/
    background: #939492; /*设置背景色*/
    border-radius: 1rem; /*加个圆角边*/
    transform: translateX(-3px);
    position: relative;
    z-index: 99;
}

/* 调整轨道以适应滑块溢出 */
input[type=range]::-webkit-slider-runnable-track {
    margin-right: -6px; /* 保留滑块溢出的空间 */
}


/*
    highlight theme nord
*/
#markdown pre {
    overflow-x: auto;
    overflow-y: hidden;
}

.hljs, .hljs-subst {
    color: #d8dee9
}

.hljs-selector-tag {
    color: #81a1c1
}

.hljs-selector-id {
    color: #8fbcbb;
    font-weight: 700
}

.hljs-selector-attr, .hljs-selector-class {
    color: #8fbcbb
}

.hljs-property, .hljs-selector-pseudo {
    color: #88c0d0
}

.hljs-addition {
    background-color: rgba(163, 190, 140, .5)
}

.hljs-deletion {
    background-color: rgba(191, 97, 106, .5)
}

.hljs-built_in, .hljs-class, .hljs-type {
    color: #8fbcbb
}

.hljs-function, .hljs-function > .hljs-title, .hljs-title.hljs-function {
    color: #88c0d0
}

.hljs-keyword, .hljs-literal, .hljs-symbol {
    color: #81a1c1
}

.hljs-number {
    color: #b48ead
}

.hljs-regexp {
    color: #ebcb8b
}

.hljs-string {
    color: #a3be8c
}

.hljs-title {
    color: #8fbcbb
}

.hljs-params {
    color: #d8dee9
}

.hljs-bullet {
    color: #81a1c1
}

.hljs-code {
    color: #8fbcbb
}

.hljs-emphasis {
    font-style: italic
}

.hljs-formula {
    color: #8fbcbb
}

.hljs-strong {
    font-weight: 700
}

.hljs-link:hover {
    text-decoration: underline
}

.hljs-comment, .hljs-quote {
    color: #4c566a
}

.hljs-doctag {
    color: #8fbcbb
}

.hljs-meta, .hljs-meta .hljs-keyword {
    color: #5e81ac
}

.hljs-meta .hljs-string {
    color: #a3be8c
}

.hljs-attr {
    color: #8fbcbb
}

.hljs-attribute {
    color: #d8dee9
}

.hljs-name {
    color: #81a1c1
}

.hljs-section {
    color: #88c0d0
}

.hljs-tag {
    color: #81a1c1
}

.hljs-template-variable, .hljs-variable {
    color: #d8dee9
}

.hljs-template-tag {
    color: #5e81ac
}

.language-abnf .hljs-attribute {
    color: #88c0d0
}

.language-abnf .hljs-symbol {
    color: #ebcb8b
}

.language-apache .hljs-attribute {
    color: #88c0d0
}

.language-apache .hljs-section {
    color: #81a1c1
}

.language-arduino .hljs-built_in {
    color: #88c0d0
}

.language-aspectj .hljs-meta {
    color: #d08770
}

.language-aspectj > .hljs-title {
    color: #88c0d0
}

.language-bnf .hljs-attribute {
    color: #8fbcbb
}

.language-clojure .hljs-name {
    color: #88c0d0
}

.language-clojure .hljs-symbol {
    color: #ebcb8b
}

.language-coq .hljs-built_in {
    color: #88c0d0
}

.language-cpp .hljs-meta .hljs-string {
    color: #8fbcbb
}

.language-css .hljs-built_in {
    color: #88c0d0
}

.language-css .hljs-keyword {
    color: #d08770
}

.language-diff .hljs-meta, .language-ebnf .hljs-attribute {
    color: #8fbcbb
}

.language-glsl .hljs-built_in {
    color: #88c0d0
}

.language-groovy .hljs-meta:not(:first-child), .language-haxe .hljs-meta, .language-java .hljs-meta {
    color: #d08770
}

.language-ldif .hljs-attribute {
    color: #8fbcbb
}

.language-lisp .hljs-name, .language-lua .hljs-built_in, .language-moonscript .hljs-built_in, .language-nginx .hljs-attribute {
    color: #88c0d0
}

.language-nginx .hljs-section {
    color: #5e81ac
}

.language-pf .hljs-built_in, .language-processing .hljs-built_in {
    color: #88c0d0
}

.language-scss .hljs-keyword, .language-stylus .hljs-keyword {
    color: #81a1c1
}

.language-swift .hljs-meta {
    color: #d08770
}

.language-vim .hljs-built_in {
    color: #88c0d0;
    font-style: italic
}

.language-yaml .hljs-meta {
    color: #d08770
}



