@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    color-scheme: light dark;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

html, body {
    height: 100%;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

#root, #__next {
    isolation: isolate;
}

.rm-sc::-webkit-scrollbar {
    -webkit-appearance: none; /*清除默认样式*/
    display: none;
}

.a_f::after { /* before and after */
    content: '';
    position: absolute;
    right: -.625rem;
    top: 0;
    height: 1rem;
    width: .75rem;
    clip-path: polygon(0 0, 2px 0, 100% 50%, 2px 100%, 0 100%);
    background-color: #0074cc;
}

.t_t {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 8px 8px 0;
    border-color: transparent #0074cc transparent transparent;
}

.b_t {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 8px 8px;
    border-color: transparent transparent #0074cc transparent;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none; /*清除默认样式*/
    height: 1.25rem; /*设置滑块高度*/
    width: 0.625rem; /*设置滑块宽度*/
    background: rgb(107, 114, 128); /*设置背景色*/
    border-radius: 1rem; /*加个圆角边*/
    transform: translateX(-3px);
    position: relative;
    z-index: 99;
}

input[type=range]::-moz-range-thumb {
    -moz-appearance: none; /*清除默认样式*/
    height: 1.25rem; /*设置滑块高度*/
    width: 0.625rem; /*设置滑块宽度*/
    background: rgb(107, 114, 128); /*设置背景色*/
    border-radius: 1rem; /*加个圆角边*/
    transform: translateX(-3px);
    position: relative;
    z-index: 99;
}

/* 调整轨道以适应滑块溢出 */
input[type=range]::-webkit-slider-runnable-track {
    margin-right: -6px; /* 保留滑块溢出的空间 */
}



